.button {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-pink {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
  background-color: var(--accent-a1);
  color: var(--ui-white);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-blue {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
  background-color: var(--accent-a2);
  color: var(--ui-white);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-purple {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
  background-color: var(--ui-primary600);
  color: var(--ui-white);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-purple-outline {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: transparent;
  color: var(--ui-primary600);
  border: 2px solid var(--ui-primary600);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    background-color: var(--ui-primary600);
    color: var(--ui-white);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-white {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease;
  background-color: var(--ui-white);
  color: var(--ui-gray900);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}

.button-outline-magenta {
  border-radius: var(--btn-border-radius);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: transparent;
  color: var(--ui-white);
  border: 2px solid var(--magenta-transaprent);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625em;

  &:hover {
    background-color: var(--accent-a1);
    color: var(--ui-white);
  }

  &:disabled {
    filter: grayscale(1);
    cursor: unset;
    opacity: 0.2;
  }
}
