.Editor-container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 24px;
  justify-content: space-between;
}

.Editor-player {
  border-radius: var(--btn-border-radius);
  overflow: hidden;
  box-shadow: 0 0 20px #0004;
}

.Editor-controls {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  max-width: 18.75em;
  width: 100%;
}
