.ColorPickerInputContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;
}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--semi-stroke);
  cursor: pointer;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}
