.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    width: 100%;
    text-align: center;
    padding-top: 0.625em;
  }
}

.rowInput {
  display: flex;
  width: 100%;
  gap: 1.25em;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625em;

  span {
    flex: 0.8;
  }

  input {
    flex: 2;
  }
}

.rowCompact {
  display: flex;
  width: 100%;
  gap: 0.625em;
  margin-top: 0.625em;
  justify-content: space-between;

  label {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  span {
    flex: 0.5;
  }

  input {
    max-width: 6.25em;
  }
}

.areaInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75em;

  textarea {
    resize: vertical;
  }
}
