.layout {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-a);
  text-align: center;
  color: var(--ui-white);
  padding-left: 5%;
  padding-right: 5%;

  align-items: center;
  width: 100%;
  height: auto;
  min-height: 5rem;

  nav a {
    padding: 0.5rem 1.2rem;
    color: var(--ui-gray200);

    &:hover {
      color: var(--ui-white);
      text-decoration: underline;
    }
  }

  strong {
    font-size: 20px;
  }
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
