.container {
  display: flex;

  button {
    height: 32px;
    min-width: 100px;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--ui-primary600);
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
