.container {
  padding: 0.6rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.25em;

  button {
    width: fit-content;
  }
}

.no-user {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shareBox {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.link {
  display: block;
  margin-bottom: 0.5rem;
  color: #0070f3;
  word-break: break-all;
  text-decoration: underline;
}
